* {
  font-family: sans-serif;
  text-align: center;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h1 {
  margin-top: 10vh;
  color: darkblue;
}
input,
button {
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
}
form {
  align-self: center;
}
input {
  border: none;
  margin-bottom: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
button {
  border: 1px solid gray;
  background: rgb(104, 179, 241);
  margin-right: 8px;
}
button:nth-last-child(2),
button:nth-last-child(1) {
  background: rgb(184, 58, 58);
  color: white;
}
